body {
    background-color: #CCCCCC;
    margin: 0 auto;
}

.top_screen {
    height: 500px;
    width: 100%;
    background-color: #111111;
    background-image: url('Images/banner_acceuil.jpg');
    background-size: cover;
}

.main_title {
    padding-top: 25px;
    padding-left: 15px;
    color: #FF2223;
    font-size:35px;
    font-family: Georgia;
}

header {
    background: linear-gradient(-150deg, #FA242A 68%, #550000 70%, #000000 55%);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 55px;
    width: 100%;
    border-bottom-right-radius: 145px;
}

nav {
    background-color: #CC0000;
}

nav ul {
    list-style: none;
    text-decoration: none;
    color: #FFFFFF;
}
